@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollable-div::-webkit-scrollbar {
  width: 5px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}

.scrollable-div::-webkit-scrollbar-thumb {
  direction: rtl;
  position: absolute;
  left: 0%;
  border-radius: 5px;
  background-color: gray;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}

.scroll-ml-auto {
  scroll-margin-inline-start: auto;
  scroll-margin-inline-end: 0;
}


.line {
  width: 20px;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(6px, 12px);
}

.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(45deg) translate(6px, -12px);
}
